{
  "parser"  : "babel-eslint",
  "extends": "standard-react",
  "rules": {
    "react/jsx-indent": [2, 2],
    "comma-dangle": 0,
    "jsx-quotes": [1, "prefer-single"],
    "react/jsx-space-before-closing": [0, "never"]
  }
}
